body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 10px;
  border: 1px solid rgb(113, 146, 255);
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.form2{
  top: 100px;
  flex-direction: column;
}

.input{
  width: 100%;
  border-radius: 5px;
  border-color: chartreuse;
  font-size: 20px;
  margin-right: 20px;
}

.button{
  width: 40%;
  margin-left: auto;
  padding: 7px 20px;
  background-color: coral;
  color: snow;
  border: none;
  border-radius: 10px;
}
